*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 17px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    outline: none;
}

body{
    background-image: url('../img/app/bg.png');
    background-size:320px 480px;
    overflow: hidden;
}

.splash img{
    width:320px;
    height:480px;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 99;
}

.username{
    width:320px;
    height:480px;
    background-image: url('../img/app/bgUsername.png');
    background-size: 320px 480px;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 98;
    .description{
        position: absolute;
        left:0px;
        top:184px;
        text-align: center;
        width:100%;
        font-weight: bold;
        span{
            color: #24a8d3;
            font-weight: bold;
        }
    }
    .user{
        position: absolute;
        border:1px solid #cccccc;
        border-radius: 5px;
        width:190px;
        padding:6px;
        left:40px;
        top:210px;
    }
    button{
        position: absolute;
        left:230px;
        top:200px;
        width: 55px;
        height: 55px;
        border: none;
        background: url('../img/app/login.png') center center no-repeat;
        background-size: 55px;
    }
}

.game{
    position: absolute;
    left:40px;
    top: 88px;
    width:240px;
    height:350px;
    z-index: 97;
    
    .piece{
        width:60px;
        height:60px;
        display: block;
        position: absolute;
        background-image: url('../img/app/back.png');
        background-size: 60px 60px;
        img{
            position: absolute;
            width:50px;
            height:50px;
            border-radius: 10px;
            left: 5px;
            top:5px;
        }
    }
    .newGame{
        position: absolute;
        left:0px;
        bottom:-7px;
        width:240px;
        height: 46px;
        background: none;
        background-image: url('../img/app/newGame.png');
        background-size:240px;
        border: none;
    }
    .timer{
        position: absolute;
        left:0px;
        top:-62px;
        font-size: 41px;
        width:240px;
        height:46px;
        text-align: center;
    }
}
.win{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 480px;
    display: none;
    z-index: 100;
}